<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Random Quote Generatorh</h3>
    <div id="QuoteContainer" class="container">
        <h2 id="quote"></h2>
        <h4 id="author"></h4>
    </div>
    <button id="genBtn" class="btn btn-primary" onclick="getQuote()">Generate</button>
    <button id="tglBtn" class="btn btn-primary" onclick="toggle()">Toggle Language</button>
    <button id="downBtn" class="btn btn-primary" onclick="downloadQuote()">Download</button>
    
    
</body>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="./index.js"></script>
<script src="./html2canvas.min.js"></script>
</html>